# http://editorconfig.org

root = true

[{.travis.sh,*.{cpp,c,h,asm,txt,src}}]
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.yml]
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.json]
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
