* text=auto
*.gif binary
*.bmp binary
*.ico binary
*.bat text
*.cfg text
*.frm text
*.ifs text
*.key text
*.l text
*.map text
*.par text
*.txt text
*.ini text
*.h text
*.cpp text
*.in text
*.src text
*.md text
.gitattributes text
.gitmodules text
*.json text
*.cmake text
