Github Actions <actions@github.com> <actions@users.noreply.github.com>
Stone Soup Group <fractint@fractint.net> <default@b191ffbd-432e-0410-afe6-bde6f7999b1f>
cvs2svn <cvs2svn@fractint.net> None <None@b191ffbd-432e-0410-afe6-bde6f7999b1f>
Jonathan Osuch <osuchj@fractint.net> <jonathan@b191ffbd-432e-0410-afe6-bde6f7999b1f>
Jonathan Osuch <osuchj@fractint.net> <osuchj@b191ffbd-432e-0410-afe6-bde6f7999b1f>
Richard <legalize@xmission.com> <rthomson@daz3d.com>
Richard <legalize@xmission.com> Richard Thomson <legalize@xmission.com>
Richard <legalize@xmission.com> legalize <legalize@xmission.com>
Tim Wegner <twegner@fractint.net> <tim@b191ffbd-432e-0410-afe6-bde6f7999b1f>
